[submodule "glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
	branch = v1.10.x
[submodule "assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
	branch = assimp_5.0_release
[submodule "boost"]
	path = dependencies/boost
	url = https://github.com/boostorg/boost.git
	fetchRecurseSubmodules = true
