[submodule "glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
	branch = 0.9.8
[submodule "gtest"]
	path = dependencies/gtest
	url = https://github.com/google/googletest.git
	branch = v1.10.x
[submodule "assimp"]
	path = dependencies/assimp
	url = https://github.com/assimp/assimp.git
	branch = assimp_5.0_release
[submodule "spdlog"]
	path = dependencies/spdlog
	url = https://github.com/vladimir-voinea/spdlog.git
	branch = v2.x
[submodule "imgui"]
	path = dependencies/imgui
	url = https://github.com/vladimir-voinea/imgui.git
	branch = branch-v1.82
